html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #021e33;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 1440px) {
  .charts-container {
    display: flex;
  }
}

.charts-container-title {
  display: flex;
  padding: 0rem 1rem;
  color: #fff;
  gap: 0.625rem;
  width: 100%;
}

.last-title {
  margin-left: auto;
  margin-top: 2.375rem;
  color: #ff00ff;
}

.icon {
  padding: 1.875rem;
}
